<div class="container-fluid top">
<h2>GESTION DE ROLES Y PERMISOS</h2>
<div class="row align-content-center">
  <div class="col"></div>
  <div class="col-auto">
    <button type="button" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#createRole">
      Crear Role
    </button>

  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>#</td>
          <td>Nombre</td>
          <td>Accion</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <td>{{role.id}}</td>
          <td>{{role.nombre}}</td>
          <td>
            <button class="btn btn-purple" (click)="getRole(role.id)">Permisos</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4 mt-3 border"  *ngIf="isVisible && role" >
    <div class="m-3">
      <h4>Permisos de {{role.nombre}}</h4>
    </div>
    <form class="m-2 align-content-start" id="Permisos">
      <div class="form-group border border-2">
        <div class="form-check form-check-reverse form-switch">
          <label class="form-check-label" for="1">Gestión permisos</label>
          <input class="form-check-input" type="checkbox" role="switch" id="permiso1" name = "permiso1" [checked] = "permiso1" (change)="cambiarEstadoPermiso('permiso1')">
        </div>
        <div class="form-check form-check-reverse form-switch">
          <label class="form-check-label" for="2">Crear incidentes</label>
          <input class="form-check-input" type="checkbox" role="switch" id="permiso2" name = "permiso2" [checked] = "permiso2" (change)="cambiarEstadoPermiso('permiso2')">
        </div>
        <div class="form-check form-check-reverse form-switch">
          <label class="form-check-label" for="3">Crear gestor</label>
          <input class="form-check-input" type="checkbox" role="switch" id="permiso3" name = "permiso3" [checked] = "permiso3" (change)="cambiarEstadoPermiso('permiso3')">
        </div>
        <div class="form-check form-check-reverse form-switch">
          <label class="form-check-label" for="4">Crear cliente</label>
          <input class="form-check-input" type="checkbox" role="switch" id="permiso4" name = "permiso4" [checked] = "permiso4" (change)="cambiarEstadoPermiso('permiso4')">
        </div>
        <div class="form-check form-check-reverse form-switch">
          <label class="form-check-label" for="5">Crear usuario</label>
          <input class="form-check-input" type="checkbox" role="switch" id="permiso5" name = "permiso5" [checked] = "permiso5" (change)="cambiarEstadoPermiso('permiso5')">
        </div>
      </div>
      <div class="form-group vstack gap-2 col-md-5 mx-auto">
        <button type="button" class="btn btn-purple" (click)="actualizarPermiso(role.id)">Guardar</button>
      </div>
    </form>
  </div>
  <div class="col-2"></div>
</div>
</div>



<div class="modal fade" id="createRole" tabindex="-1" aria-labelledby="createRoleLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createRoleLabel">Crear Role</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="roleForm" (ngSubmit)="onSubmit()"  class="row g-2 needs-validation">
      <div class="modal-body">
        <div class="form-group">
        <div class="col-md mb-3">
          <label for="nombre" class="form-label">Nombre </label>
          <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre" placeholder="Role">
          <div *ngIf="roleForm.get('nombre')?.invalid && roleForm.get('nombre')?.touched" class="text-danger">
            El nombre del rol es requerido.
          </div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" [disabled]="roleForm.invalid" class="btn btn-purple">Guardar</button>
      </div>
    </form>
    </div>
  </div>
  <div id="liveToast" class="toast align-items-center position-fixed bottom-0 end-0 text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        Mensaje de la notificación.
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>


