# Ignore artifacts:
build
dist
coverage
node_modules
.eslintrc.js
.vscode
.prettierrc
nest-cli.json
README.md
package.json
package-lock.json
postman
test/jest-e2e.json
tsconfig.build.json
tsconfig.json
yarn.lock

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
