<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" id="mostrarNavBar" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home">
      <img src="logo.png" alt="" width="220" height="35" class="d-inline-block align-text-top">
    </a>
    <h5 class="navbar-brand">{{ usuario.rol.nombre || 'ROLE'}}</h5>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"
      style="background-color: #9517ea; visibility: visible;">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title secundario" id="offcanvasNavbarLabel">
          ABCall Manager
        </h5>
        <button type="button" id="close" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav nav nav-pills justify-content-start flex-grow-1 pe-3">
          <li class="nav-item" *ngIf="usuario">
            <a class="nav-link" id="home" aria-current="page" routerLink="../home" routerLinkActive="active"
              ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">
              <span> <i class="fa-solid fa-house fa-lg"></i> </span>
              Inicio
            </a>
          </li>
          <li>
            <hr class="divider"
              *ngIf="usuario && usuario.rol.nombre === 'gestor' || usuario.rol.nombre === 'administrador' || usuario.rol.nombre === 'superadministrador' ">
          </li>
          <li class="nav-item"
            *ngIf="usuario && usuario.rol.nombre === 'administrador' || usuario.rol.nombre === 'superadministrador' ">
            <a class="nav-link" id="crearGestor"routerLink="gestor" routerLinkActive="active" ariaCurrentWhenActive="page">
              <span><i class="fa-solid fa-circle-plus fa-lg"></i></span>
              Crear un Gestor</a>
          </li>
          <li class="nav-item"
            *ngIf="usuario && usuario.rol.nombre === 'administrador' || usuario.rol.nombre === 'superadministrador' ">
            <a class="nav-link" id="crearCliente"routerLink="cliente" routerLinkActive="active" ariaCurrentWhenActive="page">
              <span><i class="fa-solid fa-circle-plus fa-lg"></i></span>
              Crear un Cliente</a>
          <!--</li>
          <li class="nav-item"
            *ngIf="usuario && usuario.rol.nombre === 'gestor' || usuario.rol.nombre === 'administrador' || usuario.rol.nombre === 'superadministrador' ">
            <a class="nav-link" id="crearUsuario"routerLink="" ariaCurrentWhenActive="page">
              <span><i class="fa-solid fa-circle-plus fa-lg"></i></span>
              Crear un Usuario</a>
          </li> -->
          <li
            *ngIf="usuario && usuario.rol.nombre === 'gestor' || usuario.rol.nombre === 'administrador' || usuario.rol.nombre === 'superadministrador' ">
            <hr class="divider">
          </li>
          <li class="nav-item"
            *ngIf="usuario && usuario.rol.nombre === 'gestor' || usuario.rol.nombre === 'administrador' || usuario.rol.nombre === 'superadministrador' ">
            <a class="nav-link " id="crearIncidencia" routerLink="incidencia" routerLinkActive="active"
              ariaCurrentWhenActive="page">
              <span><i class="fa-solid fa-circle-plus fa-lg"></i></span>
              Crear una Incidencia</a>
          </li>
          <li>
            <hr class="divider"
              *ngIf="usuario && usuario.rol.nombre === 'administrador' || usuario.rol.nombre === 'superadministrador' ">
          </li>
          <li class="nav-item"
            *ngIf="usuario && usuario.rol.nombre === 'administrador' || usuario.rol.nombre === 'superadministrador' ">
            <a class="nav-link " id="personalizarTextos" routerLink="personalizar-textos" routerLinkActive="active" ariaCurrentWhenActive="page">
              <span><i class="fa-solid fa-wrench fa-lg"></i></span>
              Personalizar texto saludo y cierre
            </a>
          </li>
          <li class="nav-item"
            *ngIf="usuario && usuario.rol.nombre === 'administrador' || usuario.rol.nombre === 'superadministrador' ">
            <a class="nav-link " id="gestionRoles" routerLink="roles" routerLinkActive="active" ariaCurrentWhenActive="page">
              <span><i class="fa-solid fa-wrench fa-lg"></i></span>
              Gestion de roles y permisos</a>
          </li>
          <li>
            <hr class="divider"
              *ngIf="usuario && usuario.rol.nombre === 'gestor' || usuario.rol.nombre === 'superadministrador' ">
          </li>
          <li class="nav-item"
            *ngIf="usuario && usuario.rol.nombre === 'gestor' || usuario.rol.nombre === 'superadministrador' ">
            <a class="nav-link " id="listIncidenteClientUser" routerLink="list" routerLinkActive="active" ariaCurrentWhenActive="page">
              <span><i class="fa-solid fa-list-ul fa-lg"></i></span>
              Lista de incidentes asociados a un cliente y/o usuario</a>
          </li>
          <li>
            <hr class="divider">
          </li>
          <li class="nav-item"
            *ngIf="usuario &&  usuario.rol.nombre === 'superadministrador' || usuario.rol.nombre === 'administrador' ">
            <a class="nav-link" id="tableroIncidentes" routerLink="tablero/todos" routerLinkActive="active"  ariaCurrentWhenActive="page">
              <span><i class="fa-solid fa-square-poll-vertical"></i></span>
              Tablero de incidentes</a>
          </li>
          <li class="nav-item"
            *ngIf="usuario && usuario.rol.nombre === 'gestor' || usuario.rol.nombre === 'superadministrador' || usuario.rol.nombre === 'administrador' ">
            <a class="nav-link" id="tableroIncidentesUsuario" routerLink="tablero/usuario" routerLinkActive="active"  ariaCurrentWhenActive="page">
              <span><i class="fa-solid fa-square-poll-vertical"></i></span>
              Tablero incidentes por usuario</a>
          </li>
          <li class="nav-item"
            *ngIf="usuario && usuario.rol.nombre === 'cliente' || usuario.rol.nombre === 'superadministrador' || usuario.rol.nombre === 'administrador' ">
            <a class="nav-link" id="tableroIncidentesGestor" routerLink="tablero/gestor" routerLinkActive="active"  ariaCurrentWhenActive="page">
              <span><i class="fa-solid fa-square-poll-vertical"></i></span>
              Tablero incidentes por gestor</a>
          </li>
          <li class="nav-item"
            *ngIf="usuario && usuario.rol.nombre === 'gestor' || usuario.rol.nombre === 'superadministrador' || usuario.rol.nombre === 'administrador' ">
            <a class="nav-link" id="tableroIncidentesCliente" routerLink="tablero/cliente" routerLinkActive="active"  ariaCurrentWhenActive="page">
              <span><i class="fa-solid fa-square-poll-vertical"></i></span>
              Tablero incidentes por cliente</a>
          </li>
          <li class="nav-item"
            *ngIf="usuario && usuario.rol.nombre === 'gestor' || usuario.rol.nombre === 'cliente' || usuario.rol.nombre === 'usuario' ">
            <a class="nav-link" id="miTableroIncidentes" routerLink="mi_tablero" routerLinkActive="active"  ariaCurrentWhenActive="page">
              <span><i class="fa-solid fa-square-poll-vertical"></i></span>
              Mi tablero de incidentes</a>
          </li>
          <li class="nav-item"
            *ngIf="usuario && usuario.rol.nombre === 'superadministrador' || usuario.rol.nombre === 'cliente' || usuario.rol.nombre === 'administrador' ">
            <a class="nav-link" id="tableroAnalitica" routerLink="predictivo" routerLinkActive="active"  ariaCurrentWhenActive="page">
              <span><i class="fa-solid fa-square-poll-vertical"></i></span>
              Tableros de Analitica predictiva </a>
          </li>
          <!--<li>
            <hr class="divider">
          </li>
          <li class="nav-item"
            *ngIf="usuario && usuario.rol.nombre === 'administrador' || usuario.rol.nombre === 'superadministrador' ">
            <a class="nav-link" id="descargarReporte">
              <span><i class="fa-solid fa-file-arrow-down"></i></span>
              Descargar reporte de incidentes</a>
          </li> -->
        </ul>

      </div>
      <div class="nav-footer">
        <ul class="navbar-nav nav nav-pills justify-content-start flex-grow-1 pe-3">
          <li class="nav-item">
            <button class="nav-link" (click)="logout()">
              <span><i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i></span>
              Salir
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>