<div class="container top align-content-center">
  <h2 class=" text-md-center">CREAR UN NUEVO CLIENTE</h2>
  <form class="row g-2 needs-validation">
      <div class="col-md-6 mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Pepito perez">
      </div>
      <div class="col-md-6 mb-3">
        <label for="correo" class="form-label">Correo</label>
        <input type="email" class="form-control" id="correo" placeholder="name@example.com">
      </div>
      <div class="col-md-6 mb-3">
        <label for="telefono" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="telefono" placeholder="22222">
      </div>
      <div class="col-md-6 mb-3">
        <label for="direccion" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="direccion" placeholder="call 2 #55-88">
      </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-purple btn-lg btn-" type="submit">Guardar</button>
    </div>
  </form>
</div>

