<div class="container top">
  <div class="row">
    <div class="col-8">
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [yaxis]="chartOptions.yaxis"
          [dataLabels]="chartOptions.dataLabels"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
          [tooltip]="chartOptions.tooltip"
          [grid]="chartOptions.grid"
          [fill]="chartOptions.fill">
        </apx-chart>
      </div>
    </div>
    <div class="col">
      <h5>Analisis de prediccion de incidentes 2025 </h5>
      <p>
        Para el año 2025, con una línea alta en el número de incidentes, se enfocará en la capacidad de prever eventos inesperados o de alto impacto,
        como fallos operacionales, fallos de equipos o incluso crisis en la cadena de suministro. A medida que los sistemas de monitoreo en
        tiempo real se vuelven más sofisticados y los algoritmos predictivos mejoran su precisión, las organizaciones podrán identificar patrones y señales
        tempranas que indican un aumento en la probabilidad de incidentes. Esto permitirá una respuesta anticipada para mitigar los riesgos,
        priorizando los incidentes con mayor probabilidad de ocurrir y optimizando los recursos para su resolución. En este contexto,
        los modelos predictivos no solo aumentarán la eficiencia, sino que también disminuirán el impacto de los incidentes en la operación,
        reduciendo los costos asociados y mejorando la continuidad del negocio.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div id="chart">
        <apx-chart
          [series]="chartOptions2.series"
          [chart]="chartOptions2.chart"
          [xaxis]="chartOptions2.xaxis"
          [yaxis]="chartOptions2.yaxis"
          [dataLabels]="chartOptions2.dataLabels"
          [stroke]="chartOptions2.stroke"
          [title]="chartOptions2.title"
          [tooltip]="chartOptions2.tooltip"
          [grid]="chartOptions2.grid"
          [fill]="chartOptions2.fill">
        </apx-chart>
      </div>
    </div>
    <div class="col">
      <h5>Analisis de prediccion de PQRS 2025 </h5>
      <p>
        con una línea alta en el número de PQRS (Peticiones, Quejas, Reclamos y Sugerencias),
        se enfocará en la capacidad de anticipar y gestionar de manera proactiva los problemas y necesidades de los clientes.
        A medida que los sistemas de recopilación de datos y los algoritmos predictivos mejoran,
        las organizaciones podrán identificar patrones y tendencias que indiquen un aumento en la cantidad de PQRS,
        permitiendo una intervención temprana para resolver posibles inconvenientes antes de que se conviertan en problemas mayores.
        Esto optimizará la experiencia del cliente, mejorará la satisfacción y reducirá el impacto negativo de quejas y reclamos,
        ayudando a las empresas a responder con mayor rapidez y eficiencia a las demandas de sus usuarios. Además,
        permitirá priorizar las acciones según la gravedad o frecuencia de las PQRS, mejorando la atención al cliente y contribuyendo a una gestión más efectiva.
      </p>
    </div>
  </div>

</div>
