<div class="container top align-content-center">
    <h2 class="text-md-left">Crear un nuevo gestor</h2>
    <form [formGroup]="crearGestorForm" (ngSubmit)="onSubmit()" class="row g-2 needs-validation">
        <div class="col-md-6 mb-3">
            <label for="email" class="form-label">Correo</label>
            <input type="email" class="form-control" id="email" name="email" formControlName="email"
                placeholder="name@example.com">
            <div *ngIf="crearGestorForm.get('email')?.invalid && crearGestorForm.get('email')?.touched"
                class="text-danger">
                El email del gestor es requerido.
            </div>
            <div *ngIf="crearGestorForm.get('email')?.errors?.['email'] && crearGestorForm.get('email')?.touched"
                class="text-danger">
                El email debe estar en el formato correcto
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" formControlName="username"
                placeholder="PepitoMotoRatones">
            <div *ngIf="crearGestorForm.get('username')?.invalid && crearGestorForm.get('username')?.touched"
                class="text-danger">
                El username del gestor es requerido.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" formControlName="telefono"
                placeholder="22222">
            <div *ngIf="crearGestorForm.get('telefono')?.invalid && crearGestorForm.get('telefono')?.touched"
                class="text-danger">
                El telefono del gestor es requerido.
            </div>
            <div *ngIf="crearGestorForm.get('telefono')?.errors?.['pattern'] && crearGestorForm.get('telefono')?.touched"
                class="text-danger">
                El telefono solo debe tener numeros
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password"
                placeholder="*******">
        </div>
        <div class="col-md-6 mb-3">
            <label for="nombres" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="nombres" name="nombres" formControlName="nombres"
                placeholder="pepito">
            <div *ngIf="crearGestorForm.get('nombres')?.invalid && crearGestorForm.get('nombres')?.touched"
                class="text-danger">
                El nombre del gestor es requerido.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" name="apellidos" formControlName="apellidos"
                placeholder="perez">
            <div *ngIf="crearGestorForm.get('apellidos')?.invalid && crearGestorForm.get('apellidos')?.touched"
                class="text-danger">
                El apellido del gestor es requerido.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="direccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="direccion" name="direccion" formControlName="direccion"
                placeholder="Calle XX #XX - XX">
        </div>
        <div class="col-md-6 mb-3">
            <label for="gestortier" class="form-label">Tier del gestor</label>
            <select class="form-select" aria-label="Tier del gestor" id="gestortier" name="gestortier"
                formControlName="gestortier">
                <option [value]="gestorTiers.junior" selected>{{gestorTiers.junior}}</option>
                <option [value]="gestorTiers.mid">{{gestorTiers.mid}}</option>
                <option [value]="gestorTiers.senior">{{gestorTiers.senior}}</option>
                <option [value]="gestorTiers.lead">{{gestorTiers.lead}}</option>
                <option [value]="gestorTiers.manager">{{gestorTiers.manager}}</option>
            </select>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-purple btn-lg w-50" type="submit" [disabled]="crearGestorForm.invalid">Crear
                        Gestor</button>
                </div>
            </div>

        </div>
    </form>
</div>